In [1]:
import pandas
import numpy as np
import sklearn as sk

from sklearn.preprocessing import OneHotEncoder
import time
import pickle

%matplotlib inline

In [5]:
dataset_name = "data/raw/data_1.csv"
data = pandas.read_csv(dataset_name).drop(["id1", "id2"], axis=1)
data.head()

   id3  user_id  date
0  714   464300     1
1  590  1029729     1
2  703   861305     1
3  803   733016     1
4  219   448027     1

In [43]:
data = data[data["user_id"].isin(data["user_id"].unique()[:5379])]

In [11]:
ohe = OneHotEncoder()

ohe.fit(data[["id3"]])
id3_columns = ["id2_%s" % i for i in range(data["id3"].unique().shape[0])] 

x_column_names = ["user_id"] + id3_columns

In [17]:
def vectorize_user(log):
    # Преобразуем все id в one hot
    values = ohe.transform(log[["id3"]])
    
    #суммируем все вектора и получаем вектор истории просмотров
    values = np.array(values.sum(axis=0))[0].astype("float")
    values = values/values.sum()
    
    user_id = np.array([log["user_id"].get_values()[0]])
    vector = np.concatenate([user_id, values])
    
    user_vector = pandas.DataFrame(columns=x_column_names, data=[vector])
        
    return user_vector

In [33]:
def get_user_item_matrix(log):
    start_time = time.time()
    users = log["user_id"].unique()
    user_item_mtrx = pandas.DataFrame(columns=x_column_names) 
    
    for user in users:
        row = vectorize_user(log[log["user_id"] == user])
        user_item_mtrx = pandas.concat((user_item_mtrx, row))
    print("Result time:", time.time()-start_time)
    return user_item_mtrx

In [44]:
usr_item_mtrx = get_user_item_matrix(data)

Result time: 164.75401544570923

In [47]:
usr_item_mtrx.to_csv("usr_item_mtrx.csv", index=False)

In [67]:
from annoy import AnnoyIndex
ann = AnnoyIndex(usr_item_mtrx.shape[1]-1)

In [68]:
mtrx = usr_item_mtrx.get_values()
for i, vec in enumerate(mtrx):
    ann.add_item(i, vec[1:])

In [69]:
ann.build(10)

True

In [165]:
ans = []
k = [i for i in range(mtrx.shape[1])]

for i, vec in enumerate(mtrx):
    a = mtrx[(ann.get_nns_by_item(i, 5)[1:])].mean(axis=0)[vec==0]
    a = sorted(list(zip(a.tolist(), k)), reverse=True)[:5]
    a = [int(i[1]) for i in a]
    ans.append(a)
ans = np.array(ans)

In [166]:
users = usr_item_mtrx["user_id"]
users = users.get_values().reshape((users.shape[0],1))

In [167]:
ans = np.concatenate([users, ans], axis=1).astype("int")

In [169]:
submit = pandas.DataFrame(data=ans, columns=["user_id", "id3_1", "id3_2", "id3_3", "id3_4", "id3_5"])

In [171]:
submit.head()

   user_id  id3_1  id3_2  id3_3  id3_4  id3_5
0   464300    639    394    418    260    628
1  1029729     94    149    426    413    393
2   861305     68     59    489    461    645
3   733016    343    297     98     87     81
4   448027     45    315    180    459    187

In [174]:
submit.to_csv("submit.csv", index=False)

In [178]:
sample = pandas.read_csv("track1_sample_submission.csv")

In [181]:
sample[sample["user_id"].isin(users[:,0])].shape

(222, 6)

In [182]:
users.shape

(5379, 1)

In [185]:
submit.shape

(5379, 6)

In [2]:
data = pandas.read_csv("train.csv")

In [3]:
submit = pandas.read_csv("submit.csv")

In [4]:
usrs = data["user_id"].unique()

In [13]:
usrs = usrs[np.invert(np.isin(usrs, submit["user_id"]))]

In [16]:
data = pandas.DataFrame(columns=["user_id", "id3_1", "id3_2", "id3_3", "id3_4", "id3_5"])
data["user_id"] = usrs

In [23]:
data["id3_1"] = submit.median()[1]
data["id3_2"] = submit.median()[2]
data["id3_3"] = submit.median()[3]
data["id3_4"] = submit.median()[4]
data["id3_5"] = submit.median()[5]

In [25]:
submit = pandas.concat([submit, data])

In [31]:
submit = submit.astype("int")

In [40]:
submit[:53979].to_csv("submit2.csv", index=False)

In [41]:
submit[:53979]

       user_id  id3_1  id3_2  id3_3  id3_4  id3_5
0       464300    639    394    418    260    628
1      1029729     94    149    426    413    393
2       861305     68     59    489    461    645
3       733016    343    297     98     87     81
4       448027     45    315    180    459    187
5       913436    135    332    863    412    518
6         5372    359    537    290    512    455
7       325474     69    526    592     63    454
8       489465    383    402    250    175    406
9       124475    550    232    527    222    594
10      157429    555    448    409    781    718
11     1027643    447     83     91    535    271
12      775785    554     38    254    581    518
13      174020    151    327    431     33    172
14      269257     69     64    769      1    602
15      634341    259    709     22    597    659
16      259945    599    454    433    305    635
17       35154    859      0    248    862     69
18      236181    551    875    874    873    872
19      992908    558    532    733    123    552
20      182376    492    418     57     94    363
21      931441    199    171    534    333    117
22      147637     50    586    765    543    493
23      739823    561     51    566    847    544
24      273941    434    380    419    251    175
25      699785     50     33    800    367    292
26      880915    124    466    259    568    494
27     1013803    786    689    146    746    666
28      146022    127    301    453    834    806
29     1014424    550    569    661    102    740
...        ...    ...    ...    ...    ...    ...
48570    19671    474    474    486    473    461
48571   525736    474    474    486    473    461
48572   680514    474    474    486    473    461
48573   332712    474    474    486    473    461
48574   452938    474    474    486    473    461
48575   278892    474    474    486    473    461
48576  1175512    474    474    486    473    461
48577   358347    474    474    486    473    461
48578   151525    474    474    486    473    461
48579    95385    474    474    486    473    461
48580   145483    474    474    486    473    461
48581   627879    474    474    486    473    461
48582   179234    474    474    486    473    461
48583    21003    474    474    486    473    461
48584   951469    474    474    486    473    461
48585   248817    474    474    486    473    461
48586   202129    474    474    486    473    461
48587   134440    474    474    486    473    461
48588   516376    474    474    486    473    461
48589   456871    474    474    486    473    461
48590   926614    474    474    486    473    461
48591  1125953    474    474    486    473    461
48592   273442    474    474    486    473    461
48593   366166    474    474    486    473    461
48594   648237    474    474    486    473    461
48595   971267    474    474    486    473    461
48596  1164000    474    474    486    473    461
48597   474378    474    474    486    473    461
48598   554802    474    474    486    473    461
48599   961689    474    474    486    473    461

[53979 rows x 6 columns]